<button
  *ngIf="type !== 'done'; else revertTemplate"
  class="p-3 w-full flex justify-evenly align-middle rounded-full enabled:hover:opacity-80 enabled:active:opacity-60 disabled:bg-gray-50 disabled:text-gray-200"
  [ngClass]="{
    'bg-black text-white': type === 'action',
    'border-2 border-amber-400 bg-amber-100': type === 'switch' && isSwitchToggled,
    'bg-gray-200': type === 'switch' && !isSwitchToggled
  }"
  [disabled]="!isEnabled"
  (click)="onClick()"
>
  <ng-content></ng-content>
</button>

<ng-template #revertTemplate>
  <button (click)="onRevert.emit()" class="p-3 w-full flex justify-evenly align-middle rounded-full enabled:hover:opacity-80 enabled:active:opacity-60 bg-gray-100 text-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-auto">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
    </svg>
    Revert
  </button>
</ng-template>